.homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000; /* or any background color you prefer */
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; /* To make the text white */
  }
  
  .center-image {
    max-width: 100%;
    height: auto;
  }
  